 /* COLORS 
 -- #FDDAAE peach
 -- #F6705D coral
 -- #594946 brown
 -- #01A58D green
 -- #F3F2F0 ice
 */

 html, body {
     margin: 0;
     font-family: Montserrat, sans-serif !important;
     scroll-behavior: smooth;
 }

 .coral {
     color: #F6705D;
 }

 .chocolate {
     color: #594946;
 }

 .ice {
    color: #F3F2F0;
}

 #dog-beach {
     margin: 0 !important;
     min-height: 800px;
     width: 100%;
 }

 #box-download {
     background-color: #F3F2F0;
     opacity: 0.9;
     border-radius: 1rem;
     width: 500px;
     height: 600px;
     position: absolute;
     margin-top: 90px;
     margin-left: 70px;
     padding: 40px;
     display: flex;
     flex-wrap: nowrap;
 }

 #img-mobile {
     padding: 40px;
     width: 290px;
 }

 .div-porqueDogu {
     background-color: #F3F2F0;
     padding: 80px;
     width: 100%;
 }

 .div-conhecaDogu {
     background-color: #F6705D;
     padding: 70px;
     width: 100%;
 }

 @media only screen and (max-width: 700px) {
     #box-download {
         background-color: #F3F2F0;
         opacity: 0.9;
         border-radius: 1rem;
         width: 350px;
         height: 500px;
         position: absolute;
         margin-top: 40px;
         margin-left: 30px;
         margin-right: 30px;
         padding: 30px;
         display: flex;
         flex-wrap: nowrap;
     }
     #qrcode-box {
         width: 150px !important;
         margin-top: 0;
         margin-bottom: 10px;
         border-radius: 1rem;
     }
     #logo-box {
         width: 200px !important;
         margin: 10px;
     }
     .download-image {
         width: 100px;
         margin: 10px;
     }
     #dog-beach {
         margin: 0 !important;
         min-height: 600px;
         width: 100%;
     }
     #img-mobile {
         padding: 30px;
         width: 260px;
     }
     .div-porqueDogu {
         padding: 30px;
     }
     .div-conhecaDogu {
         padding: 30px;
     }
 }

 @media only screen and (max-width: 410px) {
     #box-download {
         background-color: #F3F2F0;
         opacity: 0.9;
         border-radius: 1rem;
         width: 300px;
         height: 500px;
         position: absolute;
         margin-top: 40px;
         margin-left: 30px;
         margin-right: 30px;
         padding: 30px;
         display: flex;
         flex-wrap: nowrap;
     }
     #qrcode-box {
         width: 150px !important;
         margin-top: 0;
         margin-bottom: 10px;
         border-radius: 1rem;
     }
     #logo-box {
         width: 200px !important;
         margin: 10px;
     }
     .download-image {
         width: 100px;
         margin: 10px;
     }
     #dog-beach {
         margin: 0 !important;
         min-height: 600px;
         width: 100%;
     }
     .div-porqueDogu {
         padding-top: 0px;
         padding: 20px;
         padding-bottom: 70px;
     }
 }

 @media only screen and (max-width: 376px) {
     #box-download {
         margin-top: 30px;
         margin-left: 35px;
         margin-right: 35px;
     }
 }

 @media only screen and (max-width: 361px) {
     #box-download {
         margin-top: 30px;
         margin-left: 32px;
         margin-right: 40px;
     }
 }

 @media only screen and (max-width: 320px) {
     #box-download {
         background-color: #F3F2F0;
         opacity: 0.9;
         border-radius: 1rem;
         width: 270px;
         height: 400px;
         position: absolute;
         margin-top: 30px;
         margin-left: 25px;
         margin-right: 25px;
         padding: 30px;
         display: flex;
         flex-wrap: nowrap;
     }
     #qrcode-box {
         width: 100px !important;
         margin-top: 0;
         margin-bottom: 10px;
         border-radius: 1rem;
     }
     #logo-box {
         width: 160px !important;
         margin: 5px;
     }
     .download-image {
         width: 80px !important;
         margin: 10px;
     }
     #dog-beach {
         margin: 0 !important;
         min-height: 500px;
         width: 100%;
     }
     #img-mobile {
         padding: 15px;
         width: 230px;
         align-content: center;
     }
 }

 #qrcode-box {
     width: 200px;
     margin-top: 0;
     margin-bottom: 10px;
     border-radius: 1rem;
 }

 #logo-box {
     width: 290px;
     margin-bottom: 10px;
 }

 .download-image {
     width: 100px;
     margin: 10px;
 }

 .div-parapets {
     background-color: #F3F2F0;
     padding: 100px 20px 180px 20px;
     width: 100%;
 }

 .dog-circles {
     background-color: #F6705D;
     color: #594946;
     border-radius: 10em;
     width: 200px;
     height: 200px;
     margin: 0 auto;
     margin-top: 100px;
     margin-bottom: 10px;
     padding-top: 45px;
     padding-bottom: 20px;
 }

 .icons-circles {
     font-size: 100px;
     color: #594946;
     text-align: center;
 }

 @media only screen and (max-width: 995px) {
     .dog-circles {
         background-color: #F6705D;
         color: #594946;
         border-radius: 10em;
         width: 150px;
         height: 150px;
         margin: 0 auto;
         margin-top: 80px;
         margin-bottom: 10px;
         padding-top: 40px;
         padding-bottom: 10px;
     }
     .icons-circles {
         font-size: 70px;
         color: #594946;
         text-align: center;
     }
     .desc-icon {
         font-size: 18px;
     }
 }

 .desc-icon {
     margin-bottom: 90px;
     font-size: 24px;
     font-style: bold;
     color: #F6705D;
 }

 /* EFEITO ICONS */

 .hover01 i {
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
 }

 .hover01:hover i {
     -webkit-transform: scale(1.3);
     transform: scale(1.3);
 }

 .hover01 span {
     position: absolute;
     bottom: -20px;
     left: 0;
     z-index: -1;
     display: block;
     width: 300px;
     margin: 0;
     padding: 0;
     color: #444;
     font-size: 18px;
     text-decoration: none;
     text-align: center;
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
     opacity: 0;
 }

 .hover01 i:hover+span {
     bottom: -36px;
     opacity: 1;
 }

 /* END EFEITO ICONS */

 .txt-pqdogu {
     margin-top: 80px;
 }

 @media only screen and (max-width: 1090px) {
     .txt-pqdogu {
         margin-top: 0px;
     }
 }

 @media only screen and (max-width: 767px) {
     .txt-pqdogu {
         margin-top: 30px;
     }
 }

 .rodape-home {
     background-color: #F6705D;
     width: 100%;
     padding: 30px;
     bottom: 0 !important;
 }

 .rodape-mapa {
     list-style: none;
     text-decoration: none;
     color: #594946;
     font-size: 26;
 }

 /* BOTAO TOP */

 #myBtn {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Fixed/sticky position */
     bottom: 20px;
     /* Place the button at the bottom of the page */
     right: 35px;
     /* Place the button 30px from the right */
     z-index: 99;
     /* Make sure it does not overlap */
     border: none;
     /* Remove borders */
     outline: none;
     /* Remove outline */
     background-color: #594946;
     /* Set a background color */
     color: white;
     /* Text color */
     cursor: pointer;
     /* Add a mouse pointer on hover */
     padding: 15px;
     /* Some padding */
     border-radius: 10px;
     /* Rounded corners */
     font-size: 14px;
     /* Increase font size */
     opacity: 0.3;
     border-radius: 5em;
 }

 #myBtn:hover {
     background-color: #555;
     /* Add a dark-grey background on hover */
     opacity: 0.9;
     transition: opacity 0.4s linear;
 }

 /* END BOTAO TOP */

 #box-minhaconta {
     background-color: #F3F2F0;
     opacity: 0.9;
     border-radius: 1rem;
     width: 400px;
     height: 470px;
     position: relative;
     margin: 0 auto;
     margin-top: 30px;
     padding-top: 50px;
     padding-bottom: 50px;
     padding-left: 70px;
     padding-right: 80px;
     display: flex;
     flex-wrap: nowrap;
     text-align: center;
 }

 @media only screen and (max-width: 380px) {
     #box-minhaconta {
         background-color: #F3F2F0;
         opacity: 0.9;
         border-radius: 1rem;
         width: 350px;
         height: 520px;
         position: relative;
         margin: 0 auto;
         margin-top: 30px;
         padding-top: 50px;
         padding-bottom: 50px;
         padding-left: 50px;
         padding-right: 60px;
         display: flex;
         flex-wrap: nowrap;
         text-align: center;
     }
 }

 @media only screen and (max-width: 330px) {
     #box-minhaconta {
         background-color: #F3F2F0;
         opacity: 0.9;
         border-radius: 1rem;
         width: 320px;
         height: 500px;
         position: relative;
         margin: 0 auto;
         margin-top: 10px;
         padding-top: 50px;
         padding-bottom: 40px;
         padding-left: 30px;
         padding-right: 60px;
         display: flex;
         flex-wrap: nowrap;
         text-align: center;
     }
 }

 #box-cadastro {
     background-color: #F3F2F0;
     opacity: 0.9;
     border-radius: 1rem;
     margin: 0 auto;
     margin-top: 15px;
     width: 500px;
     position: relative;
     padding: 70px;
     padding-top: 50px;
     padding-bottom: 30px;
     display: flex;
     flex-wrap: wrap;
 }

 .input-cadastro {
     margin: 3px !important;
     margin-bottom: 4px !important;
 }

 /*PAGE ADMIN*/

 #page-inner {
     border-radius: 15px;
     background-color: #F3F2F0;
 }

 .footer-pattern{
     bottom: 0 !important;
     height: 80px;
     padding: 20px;
     background-color: #F3F2F0;
     color: #F6705D;
     width: 100%;
     text-align: center;
 }

